<header>
  <div class="sr-logo"><a href="#0"><img src="images/sunray_logo01.png" alt="Logo"></a></div>
  <nav class="sr-main-nav-wrapper">
    <ul class="sr-main-nav">
      <li><a href="#0">HOME</a></li>
      <li><a href="#0">ABOUT</a></li>
      <li><a href="#0">TESTIMONIALS</a></li>
      <li>
      <a href="#0" class="sr-subnav-trigger"><span>SWIM</span></a>
      <ul>
          <li class="go-back"><a href="#0">MENU</a></li>
          <li><a href="#0">RESIDENTIAL POOLS</a></li>
          <li><a href="#0">SWIM SPAS</a></li>
          <li><a href="#0">SPECIAL FEATURES</a></li>
          <li><a href="#0" class="placeholder">Placeholder</a></li>
      </ul>
      </li>
    </ul>
  </nav>
  <a href="#0" class="sr-nav-trigger">Menu<span></span></a>
</header>